@import url(./footer__column_content_about.css);
@import url(./footer__column_content_copyright.css);
@import url(./footer__column_content_social.css);

.footer__columns {
  display: flex;
  justify-content: space-between;

  width: 90%;
}
